stages:
  - build
  - deploy

variables:
  CLIENT_IMAGE_NAME: $CI_REGISTRY/locksley-w4/watchstore-webapp-client
  API_IMAGE_NAME: $CI_REGISTRY/locksley-w4/watchstore-webapp-api
  IMAGE_TAG: latest
  API_CONTAINER_NAME: api
  # DEPLOY_NAMESPACE: default
  # DEPLOY_NAME: api

build_image:
  stage: build
  image: docker
  services:
    - docker:dind

  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $API_IMAGE_NAME ./app/server
    - docker build -t $CLIENT_IMAGE_NAME ./app/client
    - docker tag $API_IMAGE_NAME $API_IMAGE_NAME:CI_COMMIT_SHORT_SHA
    - docker tag $CLIENT_IMAGE_NAME $CLIENT_IMAGE_NAME:CI_COMMIT_SHORT_SHA
    - docker push $API_IMAGE_NAME
    - docker push $CLIENT_IMAGE_NAME
    - docker push $API_IMAGE_NAME:CI_COMMIT_SHORT_SHA
    - docker push $CLIENT_IMAGE_NAME:CI_COMMIT_SHORT_SHA
    - docker rmi $API_IMAGE_NAME
    - docker rmi $CLIENT_IMAGE_NAME
    - docker rmi $API_IMAGE_NAME:CI_COMMIT_SHORT_SHA
    - docker rmi $CLIENT_IMAGE_NAME:CI_COMMIT_SHORT_SHA

  # when: manual
  only:
    - main
    - aws-deploy

deploy_image:
  stage: deploy
  image: bitnami/kubectl
  script:
    - kubectl set image -n $DEPLOY_NAMESPACE deploy/$DEPLOY_NAME $CONTAINER_NAME=$IMAGE_NAME:$IMAGE_TAG

  when: manual
  only:
    - main
