stages:
  - build
  - deploy

variables:
  IMAGE_NAME: $CI_REGISTRY/locksley-w4/ads_watchstore

build_image:
  stage: build
  image: docker
  services:
    - docker:dind

  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -t $IMAGE_NAME ./app
    - docker push $IMAGE_NAME

  when: manual

deploy_image:
  stage: deploy
  image: python:3.10
  before_script:
    - pip install ansible

  script:
    - ansible-playbook playbooks/run_container.yml