stages:
  - build
  - deploy

variables:
  IMAGE_NAME: $CI_REGISTRY/locksley-w4/ads_watchstore
  IMAGE_TAG: latest
  CONTAINER_NAME: web
  DEPLOY_NAMESPACE: default
  DEPLOY_NAME: web

build_image:
  stage: build
  image: docker
  services:
    - docker:dind

  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $IMAGE_NAME ./app
    - docker tag $IMAGE_NAME $IMAGE_NAME:CI_COMMIT_SHORT_SHA
    - docker push $IMAGE_NAME
    - docker push $IMAGE_NAME:CI_COMMIT_SHORT_SHA
    - docker rmi $IMAGE_NAME
    - docker rmi $IMAGE_NAME:CI_COMMIT_SHORT_SHA

  # when: manual
  only:
    - main

deploy_image:
  stage: deploy
  image: bitnami/kubectl
  script:
    - kubectl set image -n $DEPLOY_NAMESPACE deploy/$DEPLOY_NAME $CONTAINER_NAME=$IMAGE_NAME:$IMAGE_TAG

  only:
    - main