stages:
  - build
  - deploy

variables:
  IMAGE_NAME: $CI_REGISTRY/locksley-w4/ads_watchstore

build_image:
  stage: build
  image: docker
  services:
    - docker:dind

  script:
    - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD
    - docker build -t $IMAGE_NAME ./app
    - docker push $IMAGE_NAME