.productsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.productsContainer > .product {
    flex: 1 1 auto;
    width: 46%;
}
.productsContainer > .product h4 {
    text-overflow: ellipsis;
    line-height: 1.3;
    font-size: 1.3rem;
}
