services:
  client-builder:
    build:
      context: ./client
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    volumes:
      - client-build:/app/build

  api:
    build: ./server
    env_file:
      - ./server/.env
    expose:
      - 5000
    restart: always

  nginx:
    image: nginx:stable-alpine
    ports:
      - 80:80
    volumes:
      - client-build:/usr/share/nginx/html/:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      client-builder:
        condition: service_completed_successfully
      api:
        condition: service_started

volumes:
  client-build: