---
# tasks file for run_container

- name: Login to container registry
  command: "docker login -u gitlab-ci-token -p {{ CI_JOB_TOKEN }} registry.gitlab.com"

- name: Stop and remove old container
  command: "docker stop {{ CONTAINER_NAME }} && docker rm {{  CONTAINER_NAME  }}"

- name: Run container
  command: "docker run -d -p 80:80 -n {{ CONTAINER_NAME }} {{ IMAGE_NAME }}"