---
# tasks file for run_container

- name: Login to container registry
  command: "docker login -u gitlab-ci-token -p {{ CI_JOB_TOKEN }} registry.gitlab.com"

- name: Stop old container
  command: "docker stop {{  CONTAINER_NAME  }}"
  ignore_errors: True

- name: Remove old container
  command: "docker rm {{  CONTAINER_NAME  }}"
  ignore_errors: True

- name: Remove old image
  command: "docker rmi {{ IMAGE_NAME }}"
  ignore_errors: True

- name: Run container
  command: "docker run -d -p 80:80 --name {{ CONTAINER_NAME }} {{ IMAGE_NAME }}"