.orders-page {
  width: 100%;
  padding: 10px;
  /* font: 25px "DM Serif Display", serif; */
  font: 1.2rem "Source Sans 3", serif;
}
.orders-page p {
  font-size: 1.3em;
  padding: 10px;
  font-weight: 500;
  /* text-align: center; */
}
.orders-page ul.orders-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.orders-list .order-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  width: 100%;

  height: 150px;
  position: relative;
}
.orders-list .order-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #f4f4f4;
}
.orders-list .order-card .logo {
  object-fit: cover;
  object-position: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex: 1 1 100%;
  width: 120px;
  padding: 10px 5px 10px 0;
  position: relative;
}
.orders-list .order-card .logo::before {
  content: "";
  border-radius: 25px;
  clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #f5f5f5;
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 60%;
  z-index: -1;
}
.orders-list .order-card .logo img {
  max-width: 100%;
  height: 100%;
}
.order-card h2.name {
  font: 700 1.4rem "Source Sans 3", serif;
  color: var(--blue);
  flex: 0 0 40px;
  margin: 0;
  margin-right:15px;
}
.order-card .description {
  width: 50%;
  display: block;
  font: 400 1.2rem "Source Sans 3", serif;
  flex: 0 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--black);
  margin: 0;
  padding: 0;
}
.order-card .price {
  font: 600 1.8rem "DM Serif Display", serif;
  color: var(--black);
  margin-top: 10px;
}
.order-card .buyCounter {
  flex: 1 1 auto;
  margin-right: 5px;
}
.prices {
  width: 90%;
  /* height: 30vh; */
  border-top: 3px solid #d4d4d4;
  margin: 30px auto 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
}
.prices__row {
  flex: 1 1 100%;
  text-align: start;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prices__row h4 {
  font: 500 1.3rem "Source Sans 3", serif;
  line-height: 1.5;
}
.prices__row.free h4 {
  color: rgb(60, 211, 90);
}
.prices__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 100%;
  margin-top: 15px;
  border-top: 3px solid #d4d4d4;
  margin-top: -10px;
  padding-top: 10px;
}

.prices__footer h4 {
  font: 600 1.4rem "Source Sans 3", serif;
}

button.orderBtn {
  margin-top: 40px;
  font-weight: 500;
}
@media screen and (max-width: 400px) {
  .orders-list .order-card .logo {
    width: 90px;
  }
  .order-card h2.name {
    font-size: 22px;
  }
  .order-card .description {
    width: 40%;
  }
}