.login-page {
  width: 100%;
  height: 100vh;
  font-family: "Source Sans 3", serif;
  overflow: hidden;
}
.login-box {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 20%;
  padding: 20px;
  gap: 20px;
}
.bg-pic {
  position: absolute;
  right: 40%;
  top: 20%;
  object-fit: cover;
  object-position: center;
  width: 30px;
  height: 50vh;
  animation: bg-pic-anim 1s ease-out 0s 1 forwards normal;
}
.bg-pic img {
  max-height: 100%;
}

.login-box h1 {
  color: var(--blue);
  flex: 1 1 100%;
  font: 2.1rem "DM Serif Display", serif;
  /* margin-top: 25px; */
  line-height: 1.7;
}
.login-box h3 {
  color: var(--black);
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Source Sans 3", serif;
  margin-bottom: 35px;
}
.login-page .logo-container {
  display: flex;
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.login-page p.error {
  font-size: 1.4rem;
  color: rgb(221, 74, 10);
  padding-left: 10px;
  font-weight: 500;
}
.login-page a.signupLink {
  text-decoration: underline;
}
.login-page a.signupLinkBottom {
  text-decoration: none;
  font-size: 1.2rem;
}

.login__input {
  border-radius: 20px !important;
  margin-bottom: 10px;
  box-shadow: none !important;
  width: 100%;
  flex: 1 0 100;
}
.login-box a {
  text-decoration: none;
  color: rgb(58, 58, 58);
  width: 100%;
  text-align: center;
}
.login-box a strong {
  color: var(--blue);
  font-weight: 700;
}
a.pass-reset {
  margin-top: -10px;
  text-align: right;
}
h3.or-heading {
  text-align: center;
}
button.google {
  display: flex;
  justify-content: start;
  align-items: center;
  background: #85808015;
}
button .btnIcon {
  height: 25px;
  width: 25px;
}
button.google span {
  margin: 0 auto;
}

@keyframes bg-pic-anim {
  from {
    transform: translate(10px, -15px) rotate(-5deg);
  }
  to {
    transform: translate(0, 0) rotate(0);
  }
}
