.App {
  min-height: 100vh;
  padding-bottom: 100px;
  width: 100%;
  overflow-x: hidden;
}
button.myBtn {
  background: var(--primary-color);
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  position: relative;
  margin-top: auto;
  /* margin-bottom: 20px; */
  font-family: "Source Sans 3", serif;
}