name: Mirror to GitLab

on:
  push:
    branches:
      - "**"

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to GitLab
        run: |
          git remote add gitlab https://oauth2:${{ secrets.GITLAB_WRITE_ACCESS }}@gitlab.com/locksley-w4/watchstore-webapp
          git push --mirror gitlab
