name: Push to GitLab (Safe Mirror)

on:
  push:
    branches:
      - "**"
    tags:
      - "**"

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout full history
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Add GitLab remote
        run: |
          git remote remove gitlab || true
          git remote add gitlab https://oauth2:${{ secrets.GITLAB_WRITE_ACCESS }}@gitlab.com/locksley-w4/watchstore-webapp.git

      - name: Push branches
        run: |
          git push gitlab --all --force

      - name: Push tags
        run: |
          git push gitlab --tags --force
